<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sidebar">
        <button type="button" class="user-btn">Nome Cognome</button>
        <div class="list-todolist">
            <button type="button" class="todolist-btn">casa</button>
            <button type="button" class="todolist-btn">scuola</button>
            <button type="button" class="todolist-btn">sport</button>
        </div>
    </div>

    <div class="page">
        <div class="title">
            <p>CASA</p>
            <button type="button" class="del-list-btn">del</button>
        </div>
        <div class="active-list">
            <div class="list-elem">
                <button type="button" class="item">lavare i piatti</button>
                <input type="checkbox" class="item-checkbox">
                <button type="button" class="del-item-btn">del</button>
            </div>
            <div class="list-elem">
                <button type="button" class="item">passare l'aspirapolvere</button>
                <input type="checkbox" class="item-checkbox">
                <button type="button" class="del-item-btn">del</button>
            </div>
        </div>
    </div>
</body>

</html>